@page "/"

<PageTitle>Index</PageTitle>

<section class="container-fluid py-5 d-flex justify-content-center justify-content-sm-center align-items-center my-margin-content">
    <div>
        <div class="pe-5">
            <div class="bg-black effect-hover border-style">
                <div class="align-items-center p-3 text-capitalize fw-bold text-center fs-3 effect-hover">
                    <a class="text-white text-decoration-none" href="/DumbPages/RickAndMorty">
                        Guess rick and
                        morty caracter
                    </a>
                </div>
            </div>
        </div>
        <div class="fst-italic fs-6">
            Guess the name of rick and morty caracters.
        </div>
    </div>

    <div class="border border-top-0 border-end-0 border-5 border-dark d-none d-xl-block d-md-block">
        <img src="https://pbs.twimg.com/profile_images/889221962643406849/R3ahCQze_400x400.jpg" alt="Rick and Morty Picture" width="300" height="300">
    </div>
</section>

<section class="container-fluid py-5 d-flex justify-content-center justify-content-sm-center align-items-center my-margin-content">
    <div>
        <div class="pe-5">
            <div class="bg-black effect-hover border-style">
                <div class="align-items-center p-3 text-capitalize fw-bold text-center fs-3 effect-hover">
                    <a class="text-white text-decoration-none" href="DumbJokes.html">
                        Click me to hear a dumb
                        joke
                    </a>
                </div>
            </div>
        </div>
        <div class="fst-italic fs-6">
            The dumbiest jokes possibles, click, now.
        </div>
    </div>

    <div class="border border-top-0 border-end-0 border-5 border-dark d-none d-xl-block d-md-block">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/30/Chuck_Norris_May_2015.jpg" alt="Meme Face Picture" width="300" height="300">
    </div>
</section>

<section class="container-fluid py-5 d-flex justify-content-center justify-content-sm-center align-items-center my-margin-content">
    <div>
        <div class="pe-5">
            <div class="bg-black effect-hover border-style">
                <div class="align-items-center p-3 text-capitalize fw-bold text-center fs-3 effect-hover">
                    <a class="text-white text-decoration-none" href="/DumbPages/RandomDogPicture">See Random Dogs Images</a>
                </div>
            </div>
        </div>
        <div class="fst-italic fs-6">
            Check out these pretty puppies
        </div>
    </div>

    <div class="border border-top-0 border-end-0 border-5 border-dark d-none d-xl-block d-md-block">
        <img src="https://www.rd.com/wp-content/uploads/2020/11/GettyImages-889552354-e1606774439626.jpg?fit=696,696" alt="Funny Dog Picture" width="300" height="300" id="rickAndMorty">
    </div>
</section>