@page "/"

<PageTitle>Home</PageTitle>

<MudContainer>
    <MudStack>
        <MudContainer Class="d-flex align-items-center">
            <MudContainer>
                <MudPaper Class="border-solid border-b-8 border-l-8 mud-border-warning bg-black pa-4" Elevation="0">
                    <MudButton Class="text-white" Href="/DumbPages/RickAndMorty">
                        <MudText Class="fw-bold" Typo="Typo.h5">Rick And Morty Game</MudText>
                    </MudButton>
                </MudPaper>
                <MudText Typo="Typo.h6">Guess the name of rick and morty caracters.</MudText>
            </MudContainer>
            <MudContainer Class="ps-3">
                <MudImage Src="https://pbs.twimg.com/profile_images/889221962643406849/R3ahCQze_400x400.jpg" Width="300" Height="300" Alt="" Elevation="25" Class="mt-5 border-solid border-b-8 border-r-8 mud-border-warning " />
            </MudContainer>
        </MudContainer>

        <MudContainer Class="d-flex align-items-center">
            <MudContainer>
                <MudPaper Class="border-solid border-b-8 border-l-8 mud-border-warning bg-black pa-4" Elevation="0">
                    <MudButton Class="text-white" Href="/DumbPages/Jokes">
                        <MudText Class="fw-bold" Typo="Typo.h5">Click Me To Hear a Dumb Joke</MudText>
                    </MudButton>
                </MudPaper>
                <MudText Typo="Typo.h6">The dumbiest jokes possibles, click, now.</MudText>
            </MudContainer>
            <MudContainer Class="ps-3">
                <MudImage Src="https://upload.wikimedia.org/wikipedia/commons/3/30/Chuck_Norris_May_2015.jpg" Width="300" Height="300" Alt="" Elevation="25" Class="mt-5 border-solid border-b-8 border-r-8 mud-border-warning " />
            </MudContainer>
        </MudContainer>

        <MudContainer Class="d-flex align-items-center">
            <MudContainer>
                <MudPaper Class="border-solid border-b-8 border-l-8 mud-border-warning bg-black pa-4" Elevation="0">
                    <MudButton Class="text-white" Href="/DumbPages/RandomDogPicture">
                        <MudText Class="fw-bold" Typo="Typo.h5">See Some Random Dogs</MudText>
                    </MudButton>
                </MudPaper>
                <MudText Typo="Typo.h6">Check out these pretty puppies.</MudText>
            </MudContainer>
            <MudContainer Class="ps-3">
                <MudImage Src="https://www.rd.com/wp-content/uploads/2020/11/GettyImages-889552354-e1606774439626.jpg?fit=696,696" Width="300" Height="300" Alt="" Elevation="25" Class="mt-5 border-solid border-b-8 border-r-8 mud-border-warning " />
            </MudContainer>
        </MudContainer>

    </MudStack>
</MudContainer>

<MudPaper Class="mt-5 border-solid bg-black border-t-8 mud-border-warning text-white d-flex position-relative bottom-0">
    <div class="text-white py-5 m-3">
        <div class="row">
            <div class="col-auto px-3">
                <h2 class="fs-5 d-flex">What is DumbThings?</h2>
                <p class="fs-6 text-justify">
                    It's a WebSite made for fun, with dumb and funny services to everybody
                    enjoy
                    it
                </p>
            </div>
            <div class="col-auto px-3">
                <h2 class="fs-5 d-flex">How it Works?</h2>
                <p class="fs-6 text-justify">
                    It uses external connections for the services and bring for you some
                    funny
                    (maybe
                    shitty) things!
                </p>
            </div>
            <div class="col-auto px-3">
                <h2 class="fs-5 d-flex">Warning</h2>
                <p class="fs-6 text-justify">
                    The WebSite hasn't made to hurt, offende or insult anybody. If you felt
                    bad
                    about
                    anythig. We are trully sorry about it.
                </p>
            </div>
        </div>
    </div>
</MudPaper>