.content-rick-morty {
    margin-top: 80px;
    background-color: red;
    display: flex;
    align-items: flex-end;
}

.content-font {
    text-transform: capitalize;
    font-weight: bold;
    font-size: x-large;
    padding-right: 50px;
    text-decoration: underline 1px;
    text-underline-offset: 5px;
    text-transform: capitalize;
}

.content-right {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: absolute;
    right: 0;
    margin-right: 80px;
}

.division {
    padding-top: 23rem;
}

.content-background {
    background-color: black;
    height: fit-content;
    display: flex;
    align-items: center;
    padding: 5%;
    width: fit-content;
}

.content-description {
    font-style: italic;
    padding-top: 0.3rem;
}

.separe {
    padding-right: 100px;
}

.effect-hover:hover {
    background-color: #402B1E;
}

.link-hover:visited {
    color: white;
}

.content-margin-color {
    background-color: gray;
}

.img-size {
    height: 300px;
    width: 300px;
}

.border-syle {
    border-bottom: 5px solid;
    border-left: 5px solid;
    border-width: 8px;
    border-color: #80563B;
}

.content-container{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding-bottom: 20%;
}