* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-size {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #402B1E;
}

.content-spacing {
    word-spacing: 5rem;
}

.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.about-background {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: fit-content;
    background-color: #402B1E;
    color: #80563B;
    text-align: justify;
    border-top: 5px solid;
    border-width: 8px;
}

.information {
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: bold;
}

.description {
    font-size: 1.3rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-space {
    color: white;
    padding: 1rem;
}