* {
    padding: 0;
    margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
ul,
li {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.nav-size {
    padding-top: 25px;
    padding-bottom: 25px;
    font-size: 1.5rem;
    background-color: #402B1E;
    border-bottom: 5px solid;
    border-width: 8px;
    border-color: #80563B;
}


.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 0;
}

.footer-border {
    border-top: 5px solid;
    border-width: 8px;
    border-color: #80563B;
    background-color: #402B1E;
}
