* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #ff8518;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
a {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
}

.nav-size{
    padding-top: 25px;
    padding-bottom: 25px;
    font-size:1.5rem;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #160dce;
}
.content-spacing{
word-spacing: 5rem;
}