<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">DumbThings.Blazor.UI</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="DumbPages/RandomDogPicture">
                <span class="oi oi-image" aria-hidden="true"></span> Random Dog Picture
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/DumbPages/RickAndMorty">
                <span class="oi oi-random" aria-hidden="true"></span> Rick And Morty
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-underline" aria-hidden="true"></span> Hear a Joke
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/DumbPages/Index">
                <span class="oi oi-info" aria-hidden="true"></span> About
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="https://github.com/VictorSantos09/DumbThings">
                <span class="oi oi-badge" aria-hidden="true"></span> Developer
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
